version: "3.8"
services:

  nginx-rtmp:
    build: ./nginx-rtmp
    container_name: nginx-rtmp
    restart: always
    volumes:
      - ./data/hls:/var/www/hls
      - ./nginx/conf/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/conf/rtmp.conf:/etc/nginx/rtmp.conf:ro
    ports:
      - "1935:1935"
      - "8080:80"
    environment:
      - HLS_PATH=/var/www/hls

  ffmpeg-worker:
    image: jrottenberg/ffmpeg:5.1-alpine
    container_name: ffmpeg-worker
    restart: on-failure
    depends_on:
      - nginx-rtmp
    volumes:
      - ./data/hls:/var/www/hls
      - ./ffmpeg/scripts:/app/scripts:ro
      - /dev/shm:/dev/shm
    entrypoint: ["/bin/sh", "-c", "while true; do sleep 3600; done"]

  python-app:
    build: ./python-app
    container_name: python-orchestrator
    restart: always
    ports:
      - "8000:8000"
    environment:
      - JWT_SECRET=${JWT_SECRET}
      - ADMIN_USER=${ADMIN_USER}
      - ADMIN_PASSWORD=${ADMIN_PASSWORD}
    volumes:
      - ./ffmpeg/scripts:/app/scripts:ro
      - ./data/hls:/var/www/hls:rw
    depends_on:
      - ffmpeg-worker

  prometheus:
    image: prom/prometheus:latest
    container_name: prometheus
    volumes:
      - ./monitoring/prometheus.yml:/etc/prometheus/prometheus.yml:ro
    ports:
      - "9090:9090"

  grafana:
    image: grafana/grafana:latest
    container_name: grafana
    ports:
      - "3000:3000"
    restart: unless-stopped
    volumes:
      - grafana-storage:/var/lib/grafana

  proxy:
    image: nginx:stable-alpine
    container_name: nginx-proxy
    restart: always
    volumes:
      - ./proxy/conf.d:/etc/nginx/conf.d:ro
      - ./data/hls:/var/www/hls:ro
      - ./certs:/etc/letsencrypt
    ports:
      - "80:80"
      - "443:443"
    depends_on:
      - nginx-rtmp

volumes:
  grafana-storage:
